@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime.woff2') format('woff2'),
        url('CourierPrime.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kaushan Script';
    src: url('KaushanScript-Regular.woff2') format('woff2'),
        url('KaushanScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

