* {
    /* Implement layout knowledge */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {        
    background-color: #d8dade;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
h1.home-page-title {
    font-size: 40px;
    font-family: Cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: rgb(3, 64, 116);
     /* Implement layout knowledge */  
    margin-top: 5px;
    margin-bottom: 20px;
}
.recipe-nav {
    /* Implement layout knowledge */
    text-align: center;    
}
ul.recipe-list {
    list-style: none;        
}
ul.recipe-list li{
    border: 1px solid black;
    border-radius: 5px;    
    margin-top: 5px;    
    background-color: blanchedalmond;    
    font-size: 10px; 
    font-weight: 800;
    /* Implement layout knowledge */    
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
}
ul.recipe-list li a {
    text-decoration: none;
    color: brown;
    /* Implement layout knowledge */
    display: inline-block;
    padding: 5px;
    width: 100%;     
}